In [2]:
import sqlite3
import pandas as pd

print(">> All imports succefully done!")

>> All imports succefully done!

In [3]:
print(">> Prepering to connect SQLITE dataset!")
dat = sqlite3.connect('B2W_Reviews01.db')
print(">> Successfully connected SQLITE dataset!")

>> Prepering to connect SQLITE dataset!
>> Successfully connected SQLITE dataset!

In [4]:
print(">> Prepering to read SQLITE dataset!")
df = pd.read_sql_query("SELECT * FROM B2W_Reviews01", dat)
print(">> Successfully read SQLITE dataset!")

>> Prepering to read SQLITE dataset!
>> Successfully read SQLITE dataset!

In [5]:
# Columns of Dataframe
for col in df.columns:
    print(col)

submission_date
reviewer_id
product_id
product_name
product_brand
site_category_lv1
site_category_lv2
review_title
overall_rating
recommend_to_a_friend
review_text
reviewer_birth_year
reviewer_gender
reviewer_state

In [6]:
df.groupby(['reviewer_gender']).size().reset_index(name='counts')

  reviewer_gender  counts
0               F   62071
1               M   66166
2            null    4136

In [7]:
df.groupby(['overall_rating']).size().reset_index(name='counts')

   overall_rating  counts
0               1   27369
1               2    8389
2               3   16315
3               4   32345
4               5   47955

In [8]:
df.groupby(['recommend_to_a_friend']).size().reset_index(name='counts')

  recommend_to_a_friend  counts
0                    No   35987
1                   Yes   96368
2                  null      18

In [9]:
df.groupby(['recommend_to_a_friend', 'overall_rating']).size().reset_index(name='counts')

   recommend_to_a_friend  overall_rating  counts
0                     No               1   26574
1                     No               2    6321
2                     No               3    1879
3                     No               4     508
4                     No               5     705
5                    Yes               1     795
6                    Yes               2    2068
7                    Yes               3   14434
8                    Yes               4   31837
9                    Yes               5   47234
10                  null               3       2
11                  null               5      16

In [10]:
df.loc[(df['overall_rating'] == 1) & (df['recommend_to_a_friend'] == 'Yes')]
df.loc[(df['overall_rating'] == 5) & (df['recommend_to_a_friend'] == 'No')]

,submission_date,reviewer_id,product_id,product_name,product_brand,site_category_lv1,site_category_lv2,review_title,overall_rating,recommend_to_a_friend,review_text,reviewer_birth_year,reviewer_gender,reviewer_state
12,2018-01-01 03:32:47,0caab33faedce9bfcb6fb0bd68b0ee8ce48860fa295d3f...,29302228,Conjunto de Panelas Antiaderente Turim 10 Peça...,null,Utilidades Domésticas,Panelas,Amei o produto,5,No,"Jogo de panelas excelente material, entrega a ...",null,null,null
319,2018-01-01 10:42:38,26cd101c547269ebe22f82d9a3e513968d3fbbaed50ee5...,22562178,Copo Acrílico Com Canudo 500ml Rocie,null,Utilidades Domésticas,"Copos, Taças e Canecas",Excelente custo benefício,5,No,"Adorei o produto, o preço está totalmente aces...",null,null,null
432,2018-01-01 13:41:36,205ccd06ff03a22b5e78d0fa9f710ee71e409c4c5d621f...,130945441,Smartphone Samsung Galaxy S7 Edge Android 6.0 ...,samsung,Celulares e Smartphones,Smartphone,Linha Rosa (Linha da Morte),5,No,O produto é excelente porém o aparelho que rec...,1977,M,SP
512,2018-01-01 15:45:18,07bd9c8deb3fcc947bd4ee6e0c1f6b63cacbe652af3a76...,129712359,Smartphone Lenovo Vibe K6 Plus Dual Chip Andro...,motorola,Celulares e Smartphones,null,amei o produto,5,No,"muito rápido ,ótima resolução das câmeras fron...",1985,F,SP
742,2018-01-01 23:04:54,cbec9f418fe7d106d199cc5b6487ffab52cb33b000ddd5...,22562178,Copo Acrílico Com Canudo 500ml Rocie,null,Utilidades Domésticas,"Copos, Taças e Canecas",?????,5,No,Como assim? kkkkkkk Sério que esse copo está e...,1989,M,RS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131582,2018-05-30 13:24:52,015c12adc5d44f07019ca6c2d1fe8e60f4d0413cba643b...,34386623,Jogo de Banho Fio Penteado Canelado 5 Peças Ve...,null,"Cama, Mesa e Banho",Jogo de Banho,LINDO JOGO DE TOALHA,5,No,"ADOREI A TOALHA, CHEGOU NO TEMPO CORRETO. ÓTIM...",1992,F,RJ
131627,2018-05-30 14:26:33,9c080393d992d3f656feb873053fca9f8d3d946935ef62...,30283559,Guarda Roupa Casal Sevilha Mdp 3 Portas Correr...,null,Móveis,Guarda-Roupa,Maravilhoso !,5,No,"O guarda roupa é lindo, espaçoso e entrega ráp...",1995,F,SP
131725,2018-05-30 16:51:32,8305e3dcbcd0053cfe638f210516342929c476205b59a3...,25927970,Fortalecedor De Unhas - Pro Unha - Tea Tree Cr...,null,Beleza e Perfumaria,Cuidados Pessoais,Ótimo produto e entrega no prazo,5,No,Ótimo produto e entrega no prazo. Site e loja ...,1970,F,SP
131900,2018-05-30 23:05:19,818368952a16a5790cfce2efe79c8672b0cc24ec2c7324...,127005968,Pipoqueira Elétrica Britania Pop Time VM,britania,Eletroportáteis,Pipoqueira,Excelente,5,No,"Super prático para utilizar, a pipoca fica per...",1984,M,AL
132058,2018-05-31 11:32:53,07105f18f53f2154a33c08a2a5e8ee7b7cea71bb24d699...,29541821,Guarda-Roupa Casal Kappesberg F542 3 Portas De...,null,Móveis,Guarda-Roupa,muito bom muito gran,5,No,muito bom vale a pena meteria ruim so não muda...,1992,M,SP